<div class="hero">
	<div class="hero-inner">
		<div class="hero-text">
			<h1>Shareform</h1>

			<div class="hero-bottom">
				<p>Share / Learn / Socialize</p>	
			</div>
		</div>
		<ul class="scene">
		  <li class="layer" data-depth="0.10"><img src="img/bgs/bg1.png"></li>
		  <li class="layer" data-depth="0.15"><img src="img/bgs/bg2.png"></li>
		  <li class="layer" data-depth="0.20"><img src="img/bgs/bg3.png"></li>
		  <li class="layer" data-depth="0.25"><img src="img/bgs/bg4.png"></li>
		  <li class="layer" data-depth="0.30"><img src="img/bgs/bg5.png"></li>
		  <li class="layer" data-depth="0.35"><img src="img/bgs/bg6.png"></li>
		</ul>
		<ul class="scene" style="left: 760px">
		  <li class="layer" data-depth="0.10"><img src="img/bgs/bg1.png"></li>
		  <li class="layer" data-depth="0.15"><img src="img/bgs/bg2.png"></li>
		  <li class="layer" data-depth="0.20"><img src="img/bgs/bg3.png"></li>
		  <li class="layer" data-depth="0.25"><img src="img/bgs/bg4.png"></li>
		  <li class="layer" data-depth="0.30"><img src="img/bgs/bg5.png"></li>
		  <li class="layer" data-depth="0.35"><img src="img/bgs/bg6.png"></li>
		</ul>
	</div>
</div>	

