<nav>
	<div class="nav-wrapper">
		<div class="logo-wrapper waves-effect waves-light btn">
			<a href=""><img src="../img/logo.png"></a>
		</div>
		<a href=""><h1 class="title animated fadeIn">Shareform</h1></a>
		<ul class="right menu-items">
			<li><a class="waves-effect waves-light" href="">Item1</a></li>
			<li><a class="waves-effect waves-light" href="">Item2</a></li>
			<li><a class="waves-effect waves-light" href="">Item3</a></li>
			<!--<li><a class="waves-effect waves-light btn small">button</a></li>-->
		</ul>
	</div>
</nav>